#main-title {
    font-size: 100px;
}

#planet-dashboard-title {
    font-size: 65px;
}

#action-button {
    font-size: 65px;
}

#leaderboard-button {
    font-size: 65px;
}

#stats-button {
    font-size: 65px;
}